body {
    background-color: rgb(44, 43, 43);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(185, 175, 175);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 40px;
}

.logo {
    width: 8rem;
}

.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    padding: 5px 5px 5px 15px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 20px;
    width: 10rem;
    position: relative;
    top: -8px;
    margin-right: 20px;
    transition: all 0.8s ease-in-out;
}

.search:focus {
    width: 25rem;
}

.fav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.fav .heart {
    font-size: 40px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 25px;
}

.carousel-img-div {
    height: 80vh;
    background-repeat: no-repeat no-repeat;
    background-position: center center;;
    background-size: cover;
    border-radius: 100px;
}

.carousel-img1 {
    background-image: url("https://cdn.dummyjson.com/recipe-images/1.webp");
}

.carousel-img2 {
    background-image: url("https://cdn.dummyjson.com/recipe-images/2.webp");
}

.carousel-img3 {
    background-image: url("https://cdn.dummyjson.com/recipe-images/3.webp");
}

.carousel-img4 {
    background-image: url("https://cdn.dummyjson.com/recipe-images/4.webp");
}

.carousel-img5 {
    background-image: url("https://cdn.dummyjson.com/recipe-images/5.webp");
}

.navigation {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22,22,22);
    padding: 15px 15px 5px 15px;
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    position: relative;
    top: -30px;
}

.navigation p {
    padding: 0 25px;
    border-right: 1px solid white;
}

.navigation p:last-child {
    border: none;
}